@model j64.Envisalink.WebApi.Model.AlarmSystemInfo
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2"><label>Name</label></div>
    <div class="col-md-10">@Model.Name</div>
</div>
<div class="row">
    <div class="col-md-2"><label>TPI Host IP:Port</label></div>
    <div class="col-md-10">@Model.Host:@Model.Port</div>
</div>
<div class="row">
    <div class="col-md-2"><label>Connected to TPI</label></div>
    <div class="col-md-10">@Model.IsConnected</div>
</div>

@if (Model.IsConnected == false)
{
    <br/>
    <p class="lead">
        You have not yet connected to the TPI.  This generally happens because the TPI Host/Port are not set properly in the
        configuration.  You can go to the <a href="ConfigureAlarm">Configure Alarm System</a> menu option to input the correct information.
        You can also check the <a href="LogViewer">View Log</a> menu option for additional information.
    </p>
}
else
{
<table class="table table-hover">
    <caption class="">Partion Information</caption>
    <tr class="info">
        <th>ID</th>
        <th>Name</th>
        <th>Bypass Active</th>
        <th>Ready to Arm</th>
        <th>Armed</th>
        <th>Arming Mode</th>
        <th>Alarm Sounding</th>
    </tr>
    @foreach (var p in Model.Partitions)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.BypassActive</td>
            <td>@p.ReadyToArm</td>
            <td>@p.IsArmed</td>
            <td>@p.ArmingMode</td>
            <td>@p.AlarmOn</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="5">
                @if (p.ReadyToArm && !p.IsArmed && !p.AlarmOn)
                {
                    <a class="btn btn-warning" asp-action="StayArm" asp-route-id="@p.Id">Stay Arm</a>
                    <a class="btn btn-warning" asp-action="AwayArm" asp-route-id="@p.Id">Away Arm</a>
                }

                @if (p.IsArmed || p.AlarmOn)
                { <a class="btn btn-warning" asp-action="Disarm" asp-route-id="@p.Id">Disarm</a> }

                <a class="btn btn-warning" asp-action="Index" asp-route-id="@p.Id">Refresh</a>
            </td>
            <td>
                @if (!p.AlarmOn)
                { <a class="btn btn-warning" asp-action="SoundAlarm" asp-route-id="@p.Id" >Sound Alarm</a> }
            </td>
        </tr>
    }
</table>

<table class="table table-hover" title="Zones">
    <caption>Zone Information</caption>
    <tr class="info">
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>In Alarm</th>
        <th></th>
        <th>@if (Model.Partitions.Count > 0 && Model.Partitions[0].BypassActive)
        { <a class="btn btn-warning" asp-action="BypassZone" asp-route-id="0" title="Clear all zones that are bypassed">Clear All</a> }</th>
    </tr>
    @foreach (var z in Model.Zones)
    {
        <tr>
            <td>@z.Id</td>
            <td>@z.Name</td>
            <td>@z.Status</td>
            <td>@z.InAlarm</td>
            <td>@z.TimeSinceLastClose</td>
            <td>
                @if (z.Status == "Open")
            { <a class="btn btn-warning" asp-action="BypassZone" asp-route-id="@z.Id" title="Toggle the bypass status for this zone">Bypass</a> }
        </td>
    </tr>
    }
</table>
}